<mat-card>
    <mat-card-title>Novo Cadastro</mat-card-title>
    <form>
        <div class="form__line">
            <mat-form-field appearance="fill">
                <mat-label>Tipo</mat-label>
                <mat-select [formControl]="selectTipoPrestador" >
                    <mat-option  [value]="'F'">
                        CPF
                    </mat-option>
                    <mat-option  value="'J'">
                        CNPJ
                    </mat-option>
                </mat-select>
            </mat-form-field>
            <mat-form-field>
                <input required matInput placeholder="N°CPF ou N°CNPJ" [(ngModel)]="cadastroPrestador.CPFOrCNPJ"
                    name="CPFOrCNPJ">
            </mat-form-field>
            <mat-form-field>
                <input required matInput placeholder="Nome" [(ngModel)]="cadastroPrestador.nome"
                    name="nome">
            </mat-form-field>
            <mat-form-field>
                <input required matInput placeholder="E-mail" [(ngModel)]="cadastroPrestador.email"
                    name="email">
            </mat-form-field>
        </div>
        <mat-card-subtitle class="subtitle">
           Endereço:
        </mat-card-subtitle>
        <div class="form__line">
            <mat-form-field>
                <input required matInput placeholder="CEP" [formControl]="cep" name="CEP">
            </mat-form-field>
            <mat-form-field>
                <input required matInput [disabled]="!cepNaoEncontrado" placeholder="Logradouro" [(ngModel)]="cadastroPrestador.endereco.logradouro"
                    name="logradouro">
            </mat-form-field>
            <mat-form-field>
                <input required matInput  placeholder="Complemento" [(ngModel)]="cadastroPrestador.endereco.complemento"
                name="complemento">
            </mat-form-field>
            <mat-form-field>
                <input required matInput  placeholder="Numero" [(ngModel)]="cadastroPrestador.endereco.numero"
                    name="numero">
            </mat-form-field>
            
        </div>
        <div class="form__line">
            <mat-form-field>
                <input required matInput  [disabled]="!cepNaoEncontrado" placeholder="Bairro" [(ngModel)]="cadastroPrestador.endereco.bairro" name="bairro">
            </mat-form-field>
            <mat-form-field>
                <input required matInput [disabled]="!cepNaoEncontrado" placeholder="Cidade" [(ngModel)]="cadastroPrestador.endereco.cidade"
                    name="cidade">
            </mat-form-field>
            <mat-form-field>
                <input required matInput [disabled]="!cepNaoEncontrado" placeholder="UF" [(ngModel)]="cadastroPrestador.endereco.UF"
                    name="UF">
            </mat-form-field>
            
            
        </div>




    </form>
    <button mat-raised-button class="primaryColorBG" (click)="createCadastroPrestador()" color="primary">
        Salvar
    </button>

    <button mat-raised-button (click)="cancel()">
        cancelar
    </button>
</mat-card>