<mat-card class="mat-elevation-z3">
    <mat-card-title>
        Dashboard:
    </mat-card-title>
    <div class="flexitens">
        <mat-card class="matcard mat-elevation-z5">
            <div class="mat-icon primaryColorBG">
                <i class="material-icons">
                    assignment
                </i>
            </div>
            <div class="matcard__number"><p>{{countPrestadores}}</div>
        </mat-card>
        <mat-card class="matcard mat-elevation-z5">
            <div class="mat-icon secondaryColorBG">
                <i class="material-icons">
                    work
                </i>
            </div>
           <div class="matcard__number">{{countContratos}}</div>            
        </mat-card>
    </div>
</mat-card>