<mat-sidenav-container class="container">
    <mat-sidenav class="sidenav secondaryColorBG" mode="side" opened
     fixedInViewport="true" fixedTopGap="64">
        <mat-nav-list>
            <a mat-list-item routerLink="/">
                <i class="material-icons">
                    home
                </i>
                Início
            </a>
            <a mat-list-item routerLink="/contratos">
                <i class="material-icons">
                    work
                </i>
                Contratos
            </a>
            <a mat-list-item routerLink="/prestadores">
                <i class="material-icons">
                    assignment
                </i>
                Prestadores
            </a>
        </mat-nav-list>
    </mat-sidenav>    
    <mat-sidenav-content class="content">
        <router-outlet></router-outlet>
    </mat-sidenav-content>
</mat-sidenav-container>